# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Editor settings
.vscode/
.idea/
.DS_Store

# Ignore test coverage
coverage/
.env

# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore data files
data/transcription.txt
data/summary.txt

# Ignore media files
*.mp3
*.wav
*.mp4
*.mp4.venv/

uploads/
